/* estilo_agenda.module.css */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.formGroup {
    margin: 10px 0;
    position: relative;
}

button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.7s ease;
}

button:hover {
    background-color: #a40000;
}

h1 {
    padding: 10px;
}
