.login-container {
  background-color: #fff;
  margin-top: 20px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.container {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px !important;
  min-width: 500px;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
  color: #666;
}

.signup-link a {
  color: #2575fc;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}



input[type="text"]{
  margin-bottom: 0px !important;
}

input {
  width: 100%; /* Asegura que los inputs ocupen el ancho completo */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input::placeholder {
  font-size: 14px; /* Tamaño del texto del placeholder */
}

p{/* Mensajes de error */
  color: red;
  font-size: 15px;
  margin: 0px 0 !important;
  min-height: 20px;
}


button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

button:hover {
  background-color: #c50303;
  transition: background-color 0.7s ease;
}