/* Registro_sesion.css */

.container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.datos {
    width: 80%;
    margin: auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.7s ease;
}

button:hover {
    background-color: #a40000;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.form-group label {
    margin-right: 10px;
    white-space: nowrap;
}

.form-group .form-select,
.form-group .form-control {
    max-width: 860px;
}

.form-container {
    margin-top: 50px; /* Ajusta el valor según tus necesidades */
    margin-bottom: 50px;
}
